name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        - '3.3'
        - '3.4'
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - uses: qltysh/qlty-action/install@v2
    - run: bundle exec rake spec
    - name: Format coverage
      run: qlty coverage transform coverage/.resultset.json --output 'codeclimate-${{ matrix.ruby-version }}.jsonl'
    - uses: actions/upload-artifact@v4
      with:
        name: coverages-ruby-${{ matrix.ruby-version }}
        path: codeclimate-${{ matrix.ruby-version }}.jsonl
  upload-coverage:
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    if: always()
    needs: test
    steps:
    - name: Check test matrix status
      if: ${{ needs.test.result != 'success' }}
      run: exit 1
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - uses: actions/download-artifact@v5
      with:
        pattern: coverages-*
        merge-multiple: true
    - uses: qltysh/qlty-action/coverage@v2
      with:
        oidc: true
        files: codeclimate-*.jsonl
        skip-errors: false
